<mat-vertical-stepper>
    <mat-step label="Intro" editable="false">
        <mat-list>
            <mat-list-item>- John Salvie</mat-list-item>
            <mat-list-item>- University of Oklahoma, 2011</mat-list-item>
            <mat-list-item>- Cats, Bicycles, Traveling</mat-list-item>
        </mat-list>
    </mat-step>
    <mat-step label="The Basics" editable="false">
        <p>Angular is a framework that let's you build out web apps 
            really fast! It's built using TypeScript. 
            <i>What's the difference between AngularJS and Angular?</i>
            Let's briefly cover the 8 main building blocks of Angular...
        </p>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Modules</mat-panel-title>
            </mat-expansion-panel-header>
            Modules detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Components</mat-panel-title>
            </mat-expansion-panel-header>
            Components detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Templates</mat-panel-title>
            </mat-expansion-panel-header>
            Templates detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Metadata</mat-panel-title>
            </mat-expansion-panel-header>
            Metadata detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Data binding</mat-panel-title>
            </mat-expansion-panel-header>
            Data binding detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Modules</mat-panel-title>
            </mat-expansion-panel-header>
            Directives detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Services</mat-panel-title>
            </mat-expansion-panel-header>
            Services detail
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Dependency Injection</mat-panel-title>
            </mat-expansion-panel-header>
            DI detail
        </mat-expansion-panel>
    </mat-step>
    <mat-step label="CLI" editable="false">
        Talk about the CLI...
    </mat-step>
    <mat-step label="Angular Material" editable="false">
        Talk about Angular Material
    </mat-step>
    <mat-step label="Angular 5" editable="false">
      If you're interested in learning more about Angular or Allata, here are some cool references.
    </mat-step>
    <mat-step label="Let's build" editable="false">
        Build instructions for a basic Angular App
    </mat-step>
    <mat-step label="Thank you!" editable="false">
        Thanks!
    </mat-step>
</mat-vertical-stepper>