<mat-vertical-stepper>
    <mat-step label="Intro" editable="false">
      Hi! I'm John...
    </mat-step>
    <mat-step label="The Basics" editable="false">
      Talk about Angular and stuff here...
    </mat-step>
    <mat-step label="CLI" editable="false">
        Talk about the CLI...
    </mat-step>
    <mat-step label="Angular Material" editable="false">
        Talk about Angular Material
    </mat-step>
    <mat-step label="Learning References" editable="false">
      If you're interested in learning more about Angular or Allata, here are some cool references.
    </mat-step>
    <mat-step label="Let's build" editable="false">
        Build instructions for a basic Angular App
    </mat-step>
    <mat-step label="Thank you!" editable="false">
        Thanks!
    </mat-step>
</mat-vertical-stepper>