<mat-toolbar color="accent" class="mat-typography">
    <div fxFlex="auto">
        <a [routerLink]="['/home']" class="nav-link"><mat-icon class="nav-icon">home</mat-icon></a>        
        <a [routerLink]="['/talk']" class="nav-link"><mat-icon class="nav-icon">forum</mat-icon></a>        
        <a [routerLink]="['/pizza']" class="nav-link"><mat-icon class="nav-icon">build</mat-icon></a>  
        <a [routerLink]="['/attendees']" class="nav-link"><mat-icon class="nav-icon">more_vert</mat-icon></a>  
    </div>
    <div fxFlex="1 1 auto"></div>
    <div>^_^</div>

</mat-toolbar>
<!-- <app-pizza-order></app-pizza-order> -->
<router-outlet></router-outlet>
<!-- <app-talk></app-talk> -->