<div class="home-container mat-typography" fxLayout="column" fxLayoutGap="64px" fxLayoutAlign="center center">
  
  <img src="/assets/white.png" width="auto">                    
  <div class="home-header">
      <h1 class="home-title">Angular in 2017</h1>
      <p>New to Angular? Join us as we walk through of some of the latest features and services being adopted 
          in the Angular community, and learn how to take your front-end development to the next level.</p>
      <p><i>- John Salvie</i></p>
      <br/>
    </div>
</div>
